/* CloudPlatformCalculator.css */
.cloud-platform-calculator {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(239, 220, 220, 0.1);
  font-family: Arial, sans-serif; /* Change font family */
  font-size: 16px; /* Change default font size */
}

.cloud-platform-calculator h1 {
  font-size: 24px;
  font-weight: bold;
}

.cloud-platform-calculator h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.input-section {
  margin-bottom: 20px;
}

.input-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-section select,
.input-section input[type="number"] {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif; /* Change font family */
  font-size: 16px; /* Change input font size */
}

.input-section button {
  width: 100%;
  padding: 10px;
  background-color: #37475e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Change font family */
  font-size: 16px; /* Change button font size */
}

.input-section button:hover {
  background-color: #87a3c0;
}

.results {
  margin-top: 20px;
}

.results table {
  width: 100%;
  border-collapse: collapse;
}

.results th,
.results td {
  padding: 10px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif; /* Change font family */
  font-size: 16px; /* Change table font size */
}

.results th {
  background-color: #ab0e0e;
  color: #fff;
}